/* =========ARIAL=========== */

@font-face {
	font-family: 'ArialNarrow';
	src: url(../fonts/ArialNarrow.woff),
		url(../fonts/ArialNarrow.woff2);
}

/* ===============ROBOTO=========== */

@font-face {
	font-family: 'Roboto Thin';
	src: url(../fonts/Roboto-Thin.woff),
		url(../fonts/Roboto-Thin.woff2);
}
@font-face {
	font-family: 'Roboto ThinItalic';
	src: url(../fonts/Roboto-ThinItalic.woff),
		url(../fonts/Roboto-ThinItalic.woff2);
}

@font-face {
	font-family: 'Roboto Light';
	src: url(../fonts/Roboto-Light.woff),
		url(../fonts/Roboto-Light.woff2);
}
@font-face {
	font-family: 'RobotoCondensed Light';
	src: url(../fonts/RobotoCondensed-Light.woff),
		url(../fonts/RobotoCondensed-Light.woff2);
}

@font-face {
	font-family: 'Roboto Regular';
	src: url(../fonts/Roboto-Regular.woff),
		url(../fonts/Roboto-Regular.woff2);
}
@font-face {
	font-family: 'RobotoCondensed Regular';
	src: url(../fonts/RobotoCondensed-Regular.woff),
		url(../fonts/RobotoCondensed-Regular.woff2);
}

@font-face {
	font-family: 'Roboto Medium';
	src: url(../fonts/Roboto-Medium.woff),
		url(../fonts/Roboto-Medium.woff2);
}
@font-face {
	font-family: 'Roboto MediumItalic';
	src: url(../fonts/Roboto-MediumItalic.woff),
		url(../fonts/Roboto-MediumItalic.woff2);
}

@font-face {
	font-family: 'Roboto Black';
	src: url(../fonts/Roboto-Black.woff),
		url(../fonts/Roboto-Black.woff2);
}

@font-face {
	font-family: 'Roboto Bold';
	src: url(../fonts/Roboto-Bold.woff),
		url(../fonts/Roboto-Bold.woff2);
}
@font-face {
	font-family: 'Roboto BoldItalic';
	src: url(../fonts/Roboto-BoldItalic.woff),
		url(../fonts/Roboto-BoldItalic.woff2);
}
@font-face {
	font-family: 'RobotoCondensed Bold';
	src: url(../fonts/RobotoCondensed-Bold.woff),
		url(../fonts/RobotoCondensed-Bold.woff2);
}