.bg-bunner {
	background: url(../../images/main-bcg.png) no-repeat center;
	background-size: cover;
	padding: 35px 0 20px;
	position: relative;
}
.header {
	position: relative;
	filter: drop-shadow(2px 3.464px 3.5px rgba(155,182,190,0.75));
	margin: 30px 0 15px;
}
.header h1 {
	color: #1b7fd0;
	background-color: #caddea;
	padding: 20px 0 20px 50px;
	font-size: 32px;
	font-family: 'Roboto Bold';
	text-transform: uppercase;
}
.header .d7 {
	width: 0; 
	height: 0;
	border-top: 34px solid #caddea;
	border-right: 34px solid transparent;
}
.bg-bunner h3,
.bg-bunner ul,
.bg-bunner .btn {
	margin-left: 55px;
}
.bg-bunner ul{
	margin-right: 8.333333%;
	list-style-type: none;
	margin-top: 15px;
	margin-bottom: 30px;
}
.bg-bunner li {
	position: relative;
	font-family: 'ArialNarrow';
	font-size: 18px;
	margin-bottom: 18px;
	color: #000;
}
.bg-bunner .row li::before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #1b7fd0;
	position: absolute;
	left: -20px;
	top: 9px;
}
.btn {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 15px 30px;
	padding: 0;
}
.btn button{
	background: none;
	border: solid 1px #1b7fd0;
	color: #1b7fd0;
	font-size: 18px;
	font-family: 'Roboto Regular';
	line-height: 30px;
}
/* ---320PX---- */
@media (min-width: 320px){
	.bg-bunner {
		padding: 15px;
	}
	.header {
		margin: 0;
	}
	.header h1 {
		font-size: 24px;
		padding: 10px 0 10px 18px;
	}

}
/* ---md---- */
@media (min-width: 768px){
	.bg-bunner h1 {
		width: 550px;
	}
	.bg-bunner .header {
		margin-top: 15px;
	}
}
/* ---450PX---- */
@media (max-width: 450px) {
	.bg-bunner {
		background: url(../../images/bg-mobile.png) no-repeat;
		background-size: cover;
	}
	.bg-bunner h4,
	.bg-bunner ul {
		margin: 0;
		margin-left: 30px;
	}
	.bg-bunner h4 {
		margin-bottom: 15px;
	}
	.bg-bunner ul li {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.bg-bunner .btn {
		grid-template-columns: repeat(1,1fr);
		margin-left: 0;
	}
	.bg-bunner h4{
		font-size: 18px;
		font-family: 'Roboto Medium';
		text-transform: uppercase;
	}

}

/* ==============PRICE IN BUNNER================== */
.price-in-bunner {
	filter: drop-shadow(2px 3.464px 3.5px rgba(167,192,200,0.75));
	margin-top: 30px;
	bottom: 10px;
}
.price-in-bunner .d7 {
	width: 0; 
	height: 0;
	border-top: 17px solid #caddea;
	border-right: 17px solid transparent;
}

.price-in-bunner>span {
	background-color: #caddea;
	font-family: 'Roboto Regular';
	font-size: 18px;
	display: flex;
	align-items: center;
	color: #075da2;
	padding: 5px 10px;
}
.price-in-bunner span strong {
	color: #dd0000;
	font-size: 33px;
	font-family: 'Roboto Bold';
}
.price-in-bunner span .price-off {
	font-size: 26px;
	color: #dd0000;
}


.phone-links {
	position: absolute;
	z-index: 100;
	right: 15px;
	top: 50px;
}
.phone-links ul {
	margin: 0;
	padding: 0;
}
.phone-links ul li {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #1b7fd0;
	/* border: 3px solid rgba(1,48,86,0.3); */
	display: flex;
	align-items: center;
	justify-content: center;
}
.phone-links ul li:last-of-type {
	background-color: #013056;
}
.phone-links ul li img {
	display: inline-block;
	width: 45px;
}