.bg-price {
	background: url(../../images/Bg2.png) #075da2;
	background-position: 50%;
	padding: 25px 0;
}
.header-2 {
	filter: drop-shadow(2px 3.464px 3.5px rgba(2,68,121,0.75));
	position: relative;
}
.header-2 .d7 {
	width: 0; 
	height: 0;
	border-top: 17px solid #caddea;
	border-right: 17px solid transparent;
}
.price-heading {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	height: 60px;
}
.price-heading>span {
	font-family: 'Roboto Regular';
	font-size: 22px;
	display: flex;
	align-items: center;
}
.price-heading span strong {
	color: #dd0000;
	font-size: 50px;
	font-family: 'Roboto Bold';
}
.price-heading span .price-off {
	font-size: 35px;
	color: #dd0000;
}
@media (min-width: 768px) {
	.price-heading span .price-off {
		font-size: 28px;
	}
}
.d28 {
	display: inline-block;
	height: 8px; 
	width: 60px; 
	margin: 6px;
	position: relative;
	transform: rotate(-90deg);
}
.d28:before, 
.d28:after {
	content: "";
	height: 100%; 
	width: 50%;
	position: absolute; 
	top: 0;
	background: #075da2;
}
.d28:before {
	left: 0;
	transform: skew(0deg, 25deg);
}
.d28:after {
	right: 0;
	transform: skew(0deg, -25deg);
}
.block-price {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.block-price>div, .block-price>p {
	width: 310px;
}
.block-price p {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto Regular';
	margin: 15px 0;
}
.block-price div.order p {
	margin: 0;
	width: 100%;
}
.form-select {
	color: #075da2;
}
.block-price>p {
	align-self: flex-end;
	margin: 0;
	text-align-last: justify;
}
.block-price>p span {
	font-size: 47px;
	font-family: 'Roboto Regular';
	color: #fff;
}
.block-price>p span i {
	font-size: 26px;
	font-style: normal;
}